* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.navbar {
    background-color: #99afff;
    display: flex;
    height: 60px;
    align-items: center;
}
.logo{
    position: absolute;
    left: 50%;
    transform: translateY(-10%);
    font-size: 35px;
    letter-spacing: 10px;
}
.logo:hover {
    transform: scale(1.2); /* Масштабування при наведенні */
}
.navBarButton {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.navBarButton:hover{
    background-color: rgb(105, 105, 105);
}
.right {
    margin-left: auto;
    display: flex;
    padding: 4px;
}
.CMSLogo{
    color: black;
    float: left;
    font-weight: bold;
}
.CMSLogo:hover{
    color:black;
    text-decoration: none; /* Видалення підкреслення */
}
.bi-bell::before{
    font-size: 30px;
}
.img-profile{
    width: 30px;
    position: inherit;
}
#NameLabel
{
    font-size: 22px;
    align-self: center;
}
#profileDropDownMenu{
    position: absolute;
    border: black 1px solid;
    background: white;
    height: 75px;
    width: 100px;
    display: none;
    font-weight: bold;
}
.profile:hover #profileDropDownMenu{
    display: block;
}
#profileDropDownMenu ul {
    height: 100%;
}
#profileDropDownMenu ul li{
    position: relative;
    width: 100%;
    height: 50%;
}
#profileDropDownMenu ul li button{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 61%);
    background: hsl(0, 0%, 100%);
}
#profileDropDownMenu ul li:hover button{
    background: hsl(0, 0%, 71%);
}
#NotificationDropDownMenu{
    background: white;
    position: absolute;
    border: black 2px solid;
    margin-top: 3px;
    display: none;
}
#NotificationDropDownMenu ul li{
    border: black 1px solid;
    background: hsl(0, 0%, 100%);
}
#NotificationDropDownMenu ul li:hover{
    background: hsl(0, 0%, 71%);
}
.notification:hover #NotificationDropDownMenu{
    display: block;
}

.header-students{
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 3px;
}
aside{
    width: 15%;
    float: left;
    margin-left: 30px;
    font-size: 25px;
    line-height: 1.8;
    letter-spacing: 1px;
}
.table-container{
    overflow: auto;
    width: 80%
}
.content-table{
    margin-top: 1px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}
.content-table caption {
    display: table-caption;
    text-align: right;
}
.content-table thead tr {
    background-color: #aabbfa;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 15px 15px;
    text-align: center;
    white-space: nowrap;
    /*border-collapse: collapse;*/
    /*border: 1px solid gray;*/
}
.no-styles{
    background-color: white;
}
.content-table tbody tr {
    border-bottom: 2px solid #dddddd;
}
.notification-icon {
    position: relative;
    top: 5px;
}

.bi-circle-fill {
    font-size: 30px;
    color: #00a82d;
    position: absolute;
}
#icon-filled-circle{
    position: inherit;
}
.notification {
    position: relative;
}
.navigationRedDot{
    top:0;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    animation: pulse 1.2s infinite alternate;
}
@keyframes pulse {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.bi-circle{
    font-size: 30px;
    color: inherit
}
.bi-pencil-square{
    margin: 10px;
    font-size: 30px;
    color: inherit;
}
.bi-x-square{
    font-size: 30px;
    color: inherit;
}
.bi-plus-square{
    font-size: 30px;
}
.no-decoration {
    text-decoration: none;
    color: inherit; /* Use the same color as the parent element */
}

/* Define link styles for different states */
.no-decoration:hover {
    color: inherit; /* Keep the same color on hover */
}

.no-decoration:active {
    color: inherit; /* Keep the same color when active (clicked) */
}
.hidden-lg{
    display: inline-block;
    margin: 0 0 0 -1em;
}
.btn-custom-color {
    background-color: #1bf798;
    border-color: #1bf798;
    color: black; /* Колір тексту */
}
.bi-list{
    font-size: 30px;
    transition: transform 0.3s ease;
}
.btn-custom-color:hover {
    background-color: #16d38a; /* Колір при наведенні */
    border-color: #16d38a; /* Колір рамки при наведенні */
    transform: scale(1.3); /* Збільшити масштаб елементу при наведенні */
}
.pager{
    font-size: 25px;
}
.container-fluid{
}
.menuButton {
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}
.menuButton > span,
.menuButton > span::before,
.menuButton > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menuButton > span::before {
    content: '';
    top: -8px;
}
.menuButton > span::after {
    content: '';
    top: 8px;
}
.MenuBox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
}
.MenuBox{
    width: 40%;
}
.MenuItem {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.MenuItem:hover {
    background-color: #CFD8DC;
}
#menuToggle:checked ~ .menuButton > span {
    transform: rotate(45deg);
}
#menuToggle:checked ~ .menuButton > span::before {
    top: 0;
    transform: rotate(0);
}
#menuToggle:checked ~ .menuButton > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menuToggle:checked ~ .MenuBox {
    visibility: visible;
    left: 0;
}
.menuButton > span,
.menuButton > span::before,
.menuButton > span::after {
    transition-duration: .25s;
}
.MenuBox {
    transition-duration: .25s;
}
.MenuItem {
    transition-duration: .25s;
}
#menuToggle[type="checkbox"] {
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;
}
@media screen and (max-width: 1200px) {
    .table-container{
        width: 90%;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    .LargeScreenMenu{
        display: block;
    }
    .HamburgerMenu{
        display: none;
    }
}
@media (max-width: 768px) {
    .LargeScreenMenu{
        display: none;
    }
    .HamburgerMenu{
        display: flex;
    }
    #NameLabel{
        display: none;
    }
    .table-container{
        width: 90%;
        margin-left: 20px;
    }
    .logo{
        left: 40%;
    }
    #profileDropDownMenu{
        right: 5px;
    }
    #NotificationDropDownMenu{
        right: 5px;
    }


}